- pages_header ||= 'Published Pages'
- include_new = true if include_new.nil?

%h4
  = pages_header
  - if include_new
    %span
      = link_to 'New', new_admin_page_path, class: 'button tiny'

%section
  %ul.admin-list
    - pages.each do |page|
      %li.row
        .large-10.columns
          = truncate(page.title, length: 75)
        .large-2.columns
          %ul.actions
            %li= link_to '', edit_admin_page_path(page), class: 'icon-edit'
            %li= link_to '', admin_page_path(page), method: :delete, confirm: 'Are you sure?', class: 'icon-delete'
