.row
  .large-4.columns
    .margin-bottom-10
      - unless listing.image.blank?
        = image_tag listing.image.featured

  .large-8.columns
    %h4.margin-bottom-5= listing.title
    %p.color-dark-green.margin-bottom-5= number_to_currency(listing.price, precision: 0)
    %p= listing.description
    %hr

    .row
      .large-4.columns.information.margin-bottom-10
        %p.strong.margin-bottom-0 Information
        - unless listing.bedrooms.nil?
          %p.margin-bottom-0= "#{pluralize(listing.bedrooms, 'Bedroom')}"
        - unless listing.bathrooms.nil?
          %p.margin-bottom-0= "#{pluralize(listing.bathrooms, 'Bathroom')}"
        - unless listing.square_footage.nil?
          %p.margin-bottom-0= "#{number_with_delimiter(listing.square_footage)} Sq. Ft."
        - unless listing.lot_size.nil?
          %p.margin-bottom-0= "Lot Size: #{number_with_delimiter(listing.lot_size)} Sq. Ft."
      .large-5.columns.address.margin-bottom-10
        %p.strong.margin-bottom-0 Address
        = pretty_address(listing, p_class: "margin-bottom-0")
      .large-3.columns.actions.margin-bottom-10
        = link_to "Directions", google_maps_address(listing), class: "margin-bottom-10 custom-button google-blue width-100", target: "_blank"
        = link_to "Request Info", "mailto:danielspencerkeeton@gmail.com?subject=Inquiry about #{listing.title}", class: "margin-bottom-10 custom-button red width-100"
        = link_to "View Listing", listing.link, class: "custom-button blue width-100", target: "_blank"

%hr
