.widget
  %header
    = image_tag listing.image.featured

  %article
    %h6.price= number_to_currency(listing.price, precision: 0)
    %p.title= listing.title
    %hr.full-bleed
    = pretty_address(listing)
    %hr.full-bleed
    %dl.information
      .row
        - unless listing.bedrooms.blank?
          %dt.large-4.columns Beds
          %dd.large-2.columns= listing.bedrooms
        - unless listing.bathrooms.blank?
          %dt.large-4.columns Baths
          %dd.large-2.columns= listing.bathrooms
      .row
        - unless listing.square_footage.blank?
          %dt.large-2.columns Home
          %dd.large-4.columns= "#{number_with_delimiter(listing.square_footage)} Sq. Ft."
        - unless listing.lot_size.blank?
          %dt.large-2.columns Lot
          %dd.large-4.columns= "#{number_with_delimiter(listing.lot_size)} Sq. Ft."

  %footer
    = link_to 'View Listing', listing
