= render 'local_listings'

.row
  .large-12.columns
    %dl.sub-nav
      %dt View listings that are:
      %dd{class: @status == 'for_sale' ? 'active' : ''}= link_to 'For Sale', listings_path
      %dd{class: @status == 'for_rent' ? 'active' : ''}= link_to 'For Rent', status_listings_path('for_rent')
      %dd{class: @status == 'under_contract' ? 'active' : ''}= link_to 'Under Contract', status_listings_path('under_contract')
      %dd{class: @status == 'sold' ? 'active' : ''}= link_to 'Sold', status_listings_path('sold')

.row
  .large-12.columns
    - if @listings.any?
      - @listings.in_groups_of(3) do |listings|
        %ul.large-block-grid-3.widgets
          - listings.each do |listing|
            %li= render 'widget', listing: listing unless listing.nil?
    - else
      .blankslate
        %p= "There are currently no listings #{@status.titleize.downcase}."
