= render 'local_listings'

= render 'listings', collection: @for_sale, header: 'For Sale'
= render 'listings', collection: @for_rent, header: 'For Rent'
= render 'listings', collection: @under_contract, header: 'Under Contract'
= render 'listings', collection: @sold, header: 'Sold'
