= render 'local_listings'

.row
  .large-12.columns
    = listing_status_nav(@status)

.row
  .large-12.columns
    - if @listings.any?
      - @listings.in_groups_of(3) do |listings|
        %ul.large-block-grid-3.widgets
          - listings.each do |listing|
            %li= render 'widget', listing: listing unless listing.nil?
    - else
      .blankslate
        %p= "There are currently no listings #{@status.titleize.downcase}."
