.row.listing

  .large-5.columns

    .images
      = image_tag @listing.image.featured

      - if false
        %ul.thumbnails
          %li= image_tag @listing.image.thumb
          %li= image_tag @listing.image.thumb
          %li= image_tag @listing.image.thumb
          %li= image_tag @listing.image.thumb
          %li= image_tag @listing.image.thumb
          %li= image_tag @listing.image.thumb
          %li= image_tag @listing.image.thumb
          %li= image_tag @listing.image.thumb
          %li= image_tag @listing.image.thumb

    %hr

    #map

    %hr



  .large-7.columns

    %section
      .row
        .large-8.columns
          = pretty_address(@listing)
        .large-4.columns
          %h3.price= number_to_currency(@listing.price, precision: 0)

      %hr
      %h4= @listing.title
      = markdown(@listing.description)
      %hr

      %dl.information
        .row
          - unless @listing.bedrooms.blank?
            %dt.large-4.columns Beds
            %dd.large-2.columns= @listing.bedrooms
          - unless @listing.bathrooms.blank?
            %dt.large-4.columns Baths
            %dd.large-2.columns= @listing.bathrooms
        .row
          - unless @listing.square_footage.blank?
            %dt.large-2.columns Home
            %dd.large-4.columns= "#{number_with_delimiter(@listing.square_footage)} Sq. Ft."
          - unless @listing.lot_size.blank?
            %dt.large-2.columns Lot
            %dd.large-4.columns= "#{number_with_delimiter(@listing.lot_size)} Sq. Ft."

      .row.actions
        .large-6.columns
          = link_to 'Request Information', "mailto:danielspencerkeeton@gmail.com?subject=Inquiry about #{@listing.title}", class: 'button success medium'
        .large-6.columns
          = link_to 'View Listing Website', @listing.link, class: 'button medium'



:coffeescript
  $ ->
    address = "<p>#{@listing.address_line_1}<br />#{@listing.city} #{@listing.state}, #{@listing.zip}</p>"
    initializeMap("#{@listing.latitude}", "#{@listing.longitude}", "#{google_maps_address(@listing)}", address)
