= semantic_nested_form_for [:admin, @listing] do |f|
  = f.inputs "General Information" do
    = f.input :title
    = f.input :description
    = f.input :price
    = f.input :link, label: "Link to MLS"
    = f.input :status, as: :select, collection: Listing::VALID_STATES, include_blank: false
    = f.input :featured

  = f.inputs "Address" do
    = f.input :address_line_1
    = f.input :address_line_2
    = f.input :city
    = f.input :state
    = f.input :zip

  = f.inputs "Home Information" do
    = f.input :bedrooms, as: :select, collection: (1..10).to_a
    = f.input :bathrooms, as: :select, collection: (0.5..5).step(0.5).to_a
    = f.input :year_built, as: :select, collection: (1900..2013).to_a
    = f.input :square_footage
    = f.input :lot_size

  - f.object.images.build(primary: true) if f.object.images.empty?
  = f.inputs "Images" do
    = f.fields_for :images do |image_fields|
      = image_fields.input :file
      .helpers
        = image_fields.link_to_remove "Remove this Image"
        - unless image_fields.object.file.blank?
          = image_tag image_fields.object.file.thumb
    = f.link_to_add "Add an Image", :images

  = f.actions
