%h4
  All Testimonials
  %span
    = link_to 'New', new_admin_testimonial_path, class: 'button tiny'
%section
  %ul.admin-list
    - @testimonials.each do |testimonial|
      %li.row
        .large-10.columns
          %small.tag= testimonial.name
          = truncate(testimonial.body, length: 50)
        .large-2.columns
          %ul.actions
            %li= link_to '', edit_admin_testimonial_path(testimonial), class: 'icon-edit'
            %li= link_to '', admin_testimonial_path(testimonial), method: :delete, confirm: 'Are you sure?', class: 'icon-delete'
