%header#admin-header
  .row
    .large-10.columns
      %h1 Administration
      %ul#nav
        %li= link_to 'Listings', admin_listings_path, class: @section == 'listings' ? 'active' : ''
        %li= link_to 'Posts', admin_posts_path, class: @section == 'posts' ? 'active' : ''
        %li= link_to 'Testimonials', admin_testimonials_path, class: @section == 'testimonials' ? 'active' : ''
        %li= link_to 'Content', admin_dynamic_contents_path, class: @section == 'dynamic_contents' ? 'active' : ''
        %li= link_to 'Sign Out', destroy_admin_session_path, method: :delete
