.row#contact-modal.reveal-modal
  .large-12.columns
    %section
      %header
        %h4 Contact Me
        %a.close-reveal-modal &#215;

      .row
        .large-6.columns
          %p.strong.margin-bottom-0 2044 John Rolfe Parkway<br />Richmond, VA 23238
        .large-6.columns
          %p.strong.margin-bottom-0.text-right 804-921-7406

      %hr.full-bleed

      %form.custom{action: '/contact', method: 'POST', data: { abide: true }}
        .row
          .large-4.columns
            = label_tag :name, 'Name'
            = text_field_tag :name, '', required: true
          .large-4.columns
            = label_tag :email, 'Email'
            = text_field_tag :email, '', required: true
          .large-4.columns
            = label_tag :phone, 'Phone'
            = text_field_tag :phone, '', required: true

        .row
          .large-12.columns
            = label_tag :comments, 'Comments'
            = text_area_tag :comments, '', required: true, class: 'margin-bottom-0'
            %small.error

        %footer
          .row
            .large-12.columns.clearfix
              = submit_tag 'Send!', class: 'button success right margin-bottom-0'
