.row#contact-modal.reveal-modal
  .large-12.columns
    %section
      %header
        %h4 Contact Me
        %a.close-reveal-modal &#215;

      .row
        .large-6.columns
          %p.strong.margin-bottom-0 2044 John Rolfe Parkway<br />Richmond, VA 23238
        .large-6.columns
          %p.strong.margin-bottom-0.text-right 804-921-7406

      %hr.full-bleed

      = form_for (@inquiry = Inquiry.new), html: { data: { abide: true }} do |f|
        = f.hidden_field :inquiry_type, value: 'contact'
        .row
          .large-4.columns
            = f.label :name, 'Name'
            = f.text_field :name, required: true
          .large-4.columns
            = f.label :email, 'Email'
            = f.text_field :email, required: true
          .large-4.columns
            = f.label :phone, 'Phone'
            = f.text_field :phone, required: true

        .row
          .large-12.columns
            = f.label :comments, 'Comments'
            = f.text_area :comments, required: true, class: 'margin-bottom-0'
            %small.error

        %footer
          .row
            .large-8.columns
              = f.label :humanizer_answer, @inquiry.humanizer_question
              = f.text_field :humanizer_answer
              = f.hidden_field :humanizer_question_id

            .large-4.columns.clearfix
              = f.submit 'Send!', class: 'button success right margin-bottom-0'
