%header#global-header
  .row.hide-for-small
    .large-10.columns.clearfix
      %h1.left
        Daniel
        %span Keeton
      %ul#global-nav.left
        %li= link_to 'Home', root_path, class: @section == 'home' ? 'active' : ''
        %li= link_to 'Listings', listings_path, class: @section == 'listings' ? 'active' : ''
        %li= link_to 'Words', posts_path, class: @section == 'posts' ? 'active' : ''
        %li= link_to 'Contact', '#', data: { :"reveal-id" => "contact-modal" }
        %li= link_to "What's my home worth?", '#', class: 'home-worth', data: { :"reveal-id" => "home-worth-modal" }
    .large-2.columns
      = image_tag 'neumann_and_dunn_logo_white.png', class: 'right'
  .row.show-for-small.hide-for-medium-up
    .large-4.columns.large-centered
      %h1.text-center
        Daniel
        %span Keeton
        |
        = image_tag 'neumann_and_dunn_logo_white.png'
