%footer#global-footer
  .row
    .large-6.columns
      = regions_nav
    .large-6.columns
      %p
        %span.copyright Copyright &copy; 2013 - Daniel Keeton
        %span.dash &mdash;
        %span.images
          = link_to 'http://neumanndunn.com' do
            = image_tag 'neumann_and_dunn_logo_white.png', class: 'neumann-and-dunn'
          &mdash;
          = image_tag "realtor_logo.png"
          = image_tag "equal_housing.png"
