%header#global-header
  .row.hide-for-medium-down
    .large-11.columns.clearfix
      %h1.left
        Daniel
        %span Keeton
      %ul#global-nav.left
        %li= link_to 'Home', root_path, class: @section == 'home' ? 'active' : ''
        %li= link_to 'Listings', listings_path, class: @section == 'listings' ? 'active' : ''
        %li= link_to 'Testimonials', testimonials_path, class: @section == 'testimonials' ? 'active' : ''
        %li= link_to 'Contact', '#', data: { :"reveal-id" => "contact-modal" }
        %li= link_to raw("What's My<span>Home Worth?</span>"), '#', class: 'home-worth', data: { :"reveal-id" => "home-worth-modal" }
    .large-1.columns
      = image_tag 'neumann_and_dunn_logo_white.png', class: 'right margin-right-20'
  .row.show-for-medium-down.hide-for-large-up
    .large-4.columns.large-centered
      %h1.text-center
        Daniel
        %span Keeton
        |
        = image_tag 'neumann_and_dunn_logo_white.png', class: 'margin-top-0'
