.row#home-worth-modal.reveal-modal
  .large-12.colums
    %section
      %header
        %h4 What's my home worth?
        %a.close-reveal-modal &#215;

      %p.margin-bottom-0.mute Fill out this short online form to see how the recent real estate market has affected property values.

      %hr.full-bleed

      %form.custom{action: '/homeworth', method: 'POST', data: { abide: true }}
        .row
          .large-4.columns
            = label_tag :name, 'Name'
            = text_field_tag :name, '', required: true
          .large-4.columns
            = label_tag :email, 'Email'
            = text_field_tag :email, '', required: true
          .large-4.columns
            = label_tag :phone, 'Phone'
            = text_field_tag :phone, '', required: true

        .row
          .large-12.columns
            = label_tag :address, 'Home Address'
            = text_field_tag :address, '', required: true

        .row
          .large-4.columns
            = label_tag :square_feet, 'Square Footage'
            = text_field_tag :square_feet, '', required: true
          .large-4.columns
            = label_tag :bathrooms, '# Bathrooms'
            = text_field_tag :bathrooms, '', required: true
          .large-4.columns
            = label_tag :bedrooms, '# Bedrooms'
            = text_field_tag :bedrooms, '', required: true

        .row
          .large-12.columns
            = label_tag :updates, 'Updates'
            = text_area_tag :updates, '', class: 'margin-bottom-0'

        %footer
          .row
            .large-12.columns.clearfix
              = submit_tag 'Get a Quote!', class: 'button success right margin-bottom-0'
