.row#home-worth-modal.reveal-modal
  .large-12.colums
    %section
      %header
        %h4 What's my home worth?
        %a.close-reveal-modal &#215;

      %p.margin-bottom-0.mute Fill out this short online form to see how the recent real estate market has affected property values.

      %hr.full-bleed

      = form_for (@inquiry = Inquiry.new), html: { data: { abide: true }} do |f|
        = f.hidden_field :inquiry_type, value: 'homeworth'
        .row
          .large-4.columns
            = f.label :name, 'Name'
            = f.text_field :name, required: true
          .large-4.columns
            = f.label :email, 'Email'
            = f.text_field :email, required: true
          .large-4.columns
            = f.label :phone, 'Phone'
            = f.text_field :phone, required: true

        .row
          .large-12.columns
            = f.label :address, 'Home Address'
            = f.text_field :address, required: true

        .row
          .large-4.columns
            = f.label :square_footage, 'Square Footage'
            = f.text_field :square_footage, required: true
          .large-4.columns
            = f.label :bathrooms, '# Bathrooms'
            = f.text_field :bathrooms, required: true
          .large-4.columns
            = f.label :bedrooms, '# Bedrooms'
            = f.text_field :bedrooms, required: true

        .row
          .large-12.columns
            = f.label :updates, 'Updates'
            = f.text_area :updates, class: 'margin-bottom-0'

        %footer
          .row
            .large-8.columns
              = f.label :humanizer_answer, @inquiry.humanizer_question
              = f.text_field :humanizer_answer
              = f.hidden_field :humanizer_question_id

            .large-4.columns.clearfix
              = f.submit 'Get a Quote!', class: 'button success right margin-bottom-0'
