.row.show-for-medium-down.hide-for-large-up
  .large-12.columns
    %ul#mobile-nav
      %li= link_to 'Home', root_path, class: @section == 'home' ? 'active' : ''
      %li= link_to 'Listings', listings_path, class: @section == 'listings' ? 'active' : ''
      %li= link_to 'Testimonials', testimonials_path, class: @section == 'testimonials' ? 'active' : ''
      %li= link_to 'Contact', '#', data: { :"reveal-id" => "contact-modal" }
      %li= link_to "What's My Home Worth?", '#', class: 'home-worth', data: { :"reveal-id" => "home-worth-modal" }
