.row.show-for-small.hide-for-medium-up
  .small-12.columns
    %ul#mobile-nav
      .row
        .small-6.columns
          %li.nav-item= link_to 'Home', root_path, class: @section == 'home' ? 'active' : ''
        .small-6.columns
          %li.nav-item= link_to 'Search Properties', listings_path, class: @section == 'listings' ? 'active' : ''
      .row
        .small-6.columns
          %li.nav-item= link_to 'Blog', posts_path, class: @section == 'posts' ? 'active' : ''
        .small-6.columns
          %li.nav-item= link_to 'Testimonials', testimonials_path, class: @section == 'testimonials' ? 'active' : ''
      .row
        .small-6.columns
          %li.nav-item= link_to 'Contact', '#', data: { :"reveal-id" => "contact-modal" }
        .small-6.columns.hidden
          %li.nav-item= link_to 'Vendors', vendors_path, class: @section == 'vendors' ? 'active' : ''
      .row
        .small-6.columns.hidden
          %li.nav-item= link_to 'Selling', selling_index_path, class: @section == 'selling' ? 'active' : ''
        .small-6.columns.hidden
          %li.nav-item= link_to 'Community', page_path(:id => 'community-resource'), class: @section == 'pages-community-resource' ? 'active' : ''
      .row
        .small-12.columns.hidden
          %li.nav-item= link_to 'About', page_path(:id => 'about-me'), class: @section == 'pages-about-me' ? 'active' : ''

      .row
        .small-12.columns
          %li.action-item= link_to "What's My Home Worth?", '#', class: 'button success home-worth', data: { :"reveal-id" => "home-worth-modal" }
