.row.show-for-small.hide-for-medium-up
  .small-12.columns
    %ul#mobile-nav
      .row
        .small-6.columns
          %li.nav-item= link_to 'Home', root_path, class: @section == 'home' ? 'active' : ''
        .small-6.columns
          %li.nav-item= link_to 'Search MLS', listings_path, class: @section == 'listings' ? 'active' : ''
      .row
        .small-6.columns
          %li.nav-item= link_to 'Blog', posts_path, class: @section == 'posts' ? 'active' : ''
        .small-6.columns
          %li.nav-item= link_to 'Contact', '#', data: { :"reveal-id" => "contact-modal" }

      .row
        .small-12.columns
          %li.action-item= link_to "What's My Home Worth?", '#', class: 'button success home-worth', data: { :"reveal-id" => "home-worth-modal" }
