- unless @featured_listing.nil?
  .row.margin-bottom-30
    .large-12.columns.centered
      %section
        %header
          %h3 Featured Listing
        %article
          = render partial: 'listings/listing', locals: { listing: @featured_listing }

.row
  .large-8.columns.push-4.margin-bottom-30
    %section
      = image_tag "keeton_family.png", alt: "The Keetons"
      %hr.full-bleed
      %p
        As a native to the Richmond Area, I have grown up loving this part of
        the state. With our close proximity to the coast and the beautiful
        Blue Ridge mountains, central Virginia has so much to offer.
      %p
        I have extensive knowledge of the area and I am passionate about
        real estate. However, my ultimate goal is to surpass my clients
        expectations of personal service as a Realtor and work as hard as I can
        to make the best deal possible.
      %p
        If you're looking to buy or sell real estate in our area, I'd love to
        have the opportunity to work with you. Feel free to call,
        = link_to 'email', 'mailto:danielspencerkeeton@gmail.com', class: 'underline'
        or send me a
        = link_to 'Facebook', 'https://www.facebook.com/pages/Daniel-Keeton-Real-Estate/157662247658325', class: 'underline', target: '_blank'
        message.
      %p
        %span.strong Daniel Keeton,
        %span.italic.padding-left-5 Realtor

    - unless @post.nil?
      %section
        %header
          %h3 Latest Blog Post
        %h4= @post.title
        = markdown(@post.body)
        %hr
        %p.text-right.margin-bottom-15= link_to "View Blog", posts_path, class: "strong"

  .large-4.columns.pull-8.margin-bottom-30
    %section
      %header
        %h3 Testimonials
      %ul.testimonials
        = render 'testimonials/testimonial', testimonial: @testimonial
