= render 'shared/slider', images: @images

.row
  .large-7.columns.margin-bottom-30
    %section
      .header-image
        = image_tag 'keeton_family.jpg', alt: 'The Keetons'
      = markdown(@biography.content)
      %footer
        %p
          %span.strong Daniel Keeton,
          %span.italic Realtor

  .large-5.columns.margin-bottom-30
    - unless @post.nil?
      = render 'posts/post', post: @post, preview: true

    .feature-image
      = link_to image_tag('richmond/uva-rotunda.jpg'), 'http://www.visitcharlottesville.org/',
                target: '_blank'
      .content
        %p
          %strong Charlottesville -
          beautiful city only 45 minutes from Richmond!

    %section
      %header
        %h3 Testimonials
      %ul.testimonials
        = render 'testimonials/testimonial', testimonial: @testimonial

