- unless @featured_listing.nil?
  .row.margin-bottom-30
    .large-12.columns.centered
      %section
        %header
          %h3 Featured Listing
        %article
          = render partial: 'listings/listing', locals: { listing: @featured_listing }

.row
  .large-7.columns.margin-bottom-30
    .feature-image
      = link_to image_tag('richmond/shortpump.jpg'), 'http://shortpumpmall.com',
                target: '_blank'
      .content
        %h3
          Short Pump Mall
          %small Beautiful outdoor mall in Richmond, VA

    %section
      .header-image
        = image_tag 'keeton_family.jpg', alt: 'The Keetons'
      %p
        As a native to the Richmond Area, I have grown up loving this part of
        the state. With our close proximity to the coast and the beautiful
        Blue Ridge mountains, central Virginia has so much to offer.
      %p
        I have extensive knowledge of the area and I am passionate about
        real estate. However, my ultimate goal is to surpass my clients
        expectations of personal service as a Realtor and work as hard as I can
        to make the best deal possible.
      %p
        If you're looking to buy or sell real estate in our area, I'd love to
        have the opportunity to work with you. Feel free to call,
        = link_to 'email', 'mailto:danielspencerkeeton@gmail.com', class: 'underline'
        or send me a
        = link_to 'Facebook', 'https://www.facebook.com/pages/Daniel-Keeton-Real-Estate/157662247658325', class: 'underline', target: '_blank'
        message.
      %footer
        %p
          %span.strong Daniel Keeton,
          %span.italic.padding-left-5 Realtor

  .large-5.columns.margin-bottom-30
    - unless @post.nil?
      = render 'posts/post', post: @post

    .feature-image
      = link_to image_tag('richmond/uva-rotunda.jpg'), 'http://www.visitcharlottesville.org/',
                target: '_blank'
      .content
        %h4
          Charlottesville, VA
          %small A great city, only 45 minutes from Richmond!

    %section
      %header
        %h3 Testimonials
      %ul.testimonials
        = render 'testimonials/testimonial', testimonial: @testimonial

